<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <!-- Google tag (gtag.js) -->
        {# Put your Google Tag here #}
        
        <!-- Meta Tags -->
        <meta name="description" lang="{{ app.request.locale }}" content="{% block description %}{{ 'meta.description'|trans }}{% endblock %}">
        <meta name="keywords" content="{{ 'meta.keywords'|trans }}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- SEO Meta Tags -->
        <title>{% block title %}{{ 'meta.title'|trans }}{% endblock %}</title>
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('favicon/site.webmanifest') }}">
        <link rel="canonical" href="{{ app.request.uri }}">

        <!-- Open Graph Meta Tags -->
        <meta property="og:title" content="{{ 'meta.title'|trans }}">
        <meta property="og:description" content="{{ 'meta.description'|trans }}">
        <meta property="og:url" content="{{ app.request.uri }}">
        <meta property="og:type" content="website">
        <meta property="og:locale" content="{{ app.request.locale == 'fr' ? 'fr_FR' : 'en_US' }}">
        
        <!-- Twitter Card Meta Tags -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="{{ 'meta.title'|trans }}">
        <meta name="twitter:description" content="{{ 'meta.description'|trans }}">
        <meta name="twitter:url" content="{{ app.request.uri }}">
        
        <!-- Tailwind CSS and DaisyUI -->
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@3.5.0/dist/full.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" />
        
        <!-- Import custom styles -->
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}"> 
        {% endblock %}

        <!-- Tailwind Config -->
        <script>
            tailwind.config = {
                theme: {
                    extend: {
                        animation: {
                            'fade-in-left': 'fadeInLeft 1s ease-out forwards',
                            'fade-in': 'fadeIn 1.5s ease-out forwards',
                        },
                        keyframes: {
                            fadeInLeft: {
                                '0%': { 
                                    opacity: '0',
                                    transform: 'translateX(-50px)'
                                },
                                '100%': {
                                    opacity: '1',
                                    transform: 'translateX(0)'
                                },
                            },
                            fadeIn: {
                                '0%': { 
                                    opacity: '0'
                                },
                                '100%': {
                                    opacity: '1'
                                },
                            },
                        },
                        colors: {
                            primary: "#4F46E5",
                            secondary: "#4f9795",//"#74c9fa",
                            accent: "#095987",
                            neutral: "#1F2937",
                            "base-100": "#0F172A",
                            "base-200": "#1E293B",
                            "base-300": "#334155",
                            "base-content": "#FFFFFF",
                            info: "#3ABFF8",
                            success: "#36D399",
                            warning: "#FBBD23",
                            error: "#F87272",
                        }
                    },
                },
            }
        </script>
    </head>
    <body class="min-h-screen bg-base-100 text-base-content grid-bg" data-theme="mytheme">
        {% include 'components/_language_switcher.html.twig' %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('js/locale-switcher.js') }}"></script>
    </body>
</html>
